<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-row style="padding: 5px 10px 0px 10px;">
      <ion-col>
        <ion-icon name="bag-handle-outline" class="kd_svg_size"></ion-icon>
      </ion-col>
      <ion-col class="kd_flex kd_end_align" (click)="goBack()">
        <ion-icon name="close-outline" class="kd_svg_size"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="orderData">
  <div style="margin: 15px;">
    <ion-row>
      <ion-col class="kd_flex">
        <div class="first_letter_styles">
          <ion-text style="font-weight: bold;">R</ion-text>
        </div>
        <ion-text style="padding-left: 20px; font-size: 13px;"><span style="font-weight: bold;">Maker
            {{orderData.makerData.ID}}</span> <br> <span>{{orderData.makerData.userName}}</span> <br>
          <span>{{orderData.makerData.address}}</span></ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin-top: 10px;">
        <ion-text style="font-weight: bold;">Mutton Biryani With paya preparation on weekend do not miss it.</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="kd_flex_row_center" style="margin: 5px 0px;">
        <div style="border: solid 2px; border-radius: 14px; padding: 10px; background-color: #f7f7f7;">

          <ion-row class="kd_flex kd_center_align" *ngFor="let item of orderData.orderedItems">
            <ion-col size="8">
              <ion-text style="font-size: 16px; font-weight: bold;">{{item.name}}</ion-text>
            </ion-col>

            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text class="kd_flex" style="font-size: 14px; color: black; font-weight: bold;">$ {{item.price}}
                <ion-icon style="padding-right: 5px; padding-left: 5px;" class="icon_style"
                  name="close-outline"></ion-icon>{{item.count}}</ion-text>
            </ion-col>
            <ion-col class="kd_flex kd_end_align ion-no-padding" style="padding-right: 5px; padding-bottom: 10px;">
              <ion-text style="font-weight: bold; font-size: 14px;"> = ${{item.individualItemCost}}</ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="kd_flex kd_center_align">
            <ion-col size="8">
              <ion-text style="font-size: 14px; color: #777;">Delivery ({{orderData.deliveryOption.type}})</ion-text>
            </ion-col>

            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text style="font-size: 14px; color: #555;">$ {{orderData.deliveryOption.price}}</ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="kd_flex kd_center_align">
            <ion-col size="8">
              <ion-text style="font-size: 14px; color: #777;">GST</ion-text>
            </ion-col>

            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text style="font-size: 14px; color: #555;">$0</ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="kd_flex kd_center_align">
            <ion-col size="8">
              <ion-text style="font-size: 16px; font-weight: bold;;">Total</ion-text>
            </ion-col>

            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text
                style="font-size: 16px; font-weight: bold;">${{orderData.finalCostWithOutDeliveryOption}}</ion-text>
            </ion-col>
          </ion-row>

        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 15px; display: flex; align-items: center;">
      <ion-col>
        <div class="kd_flex">
          <ion-icon class="icon_style" name="home-outline"></ion-icon>
          <ion-text style="font-weight: bold; font-size: 18px;"
            *ngIf="orderData.deliveryOption.type != 'Pickup Available'">Delivery Location</ion-text>
          <ion-text style="font-weight: bold; font-size: 18px;"
            *ngIf="orderData.deliveryOption.type == 'Pickup Available'">Pickup Location</ion-text>
        </div>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button style="margin: 0px;">Change Address</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text style="font-size: 14px;" [innerHTML]="getSanitizedLocationUrl()">
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row style="margin: 20px 0px;">
      <ion-col class="kd_center_align_items">
        <div (click)="copyLocationUrl()" class="kd_center_align_items">
          <ion-icon name="copy-outline" style="height: 30px; width: 30px;"></ion-icon>
          <ion-text style="margin-left: 5px;">Copy</ion-text>
        </div>

        <ion-button (click)="redirectToGoogleMaps()" style="margin-left: 35px; width: fit-content;">Get
          Directions</ion-button>
      </ion-col>
    </ion-row>

    <ion-button style="width: 100%; margin-top: 10%;" (click)="placeOrder()">PAY NOW</ion-button>


  </div>
</ion-content>



<ion-content [fullscreen]="true" *ngIf="orderData == false">
  data not found
</ion-content>