<ion-header [translucent]="true" style="box-shadow: none; padding: 10px 20px; background: white;">
  <ion-row>
    <ion-col class="kd_center_align_items" size="9">
      <ion-icon name="bag-handle-outline" class="kd_svg_size padd_left"></ion-icon>
      <ion-text class="kd_main_heading" style="padding-left: 15px;">Order Overview</ion-text>
    </ion-col>

    <ion-col class="kd_flex kd_end_align" size="3" (click)="navigateToOrders()">
      <ion-icon name="close-outline" class="kd_svg_size"></ion-icon>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="orderData?._id">
  <div style="margin: 15px;">
    <ion-row>
      <ion-col>
        <ion-text>Order {{orderData.ID}}</ion-text> <br>
        <ion-text style="font-size: 12px;">Placed on: {{ formatTimestamp(orderData.timeStamp) }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 15px;">
      <ion-col class="kd_col_center_align" size="10">
        <div class="first_letter_styles">
          <ion-text style="font-weight: bold;">R</ion-text>
        </div>
        <ion-text style="padding-left: 20px; font-size: 13px;"><span style="font-weight: bold;">Maker</span> <br>
          <span>{{orderData.makerData.userName}}</span> <br>
          <span>{{orderData.makerData.address}}</span></ion-text>
      </ion-col>
      <!-- <ion-col class="kd_flex kd_flex_row_center" size="4">
        <ion-icon name="call-outline" class="kd_svg_size"></ion-icon>
      </ion-col> -->
      <ion-col size="2" class="kd_flex kd_end_align" (click)="callNumber(orderData.makerData.mobileNumber)">
        <ion-icon name="call-outline" class="kd_svg_size"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin-top: 10px;">
        <ion-text style="font-weight: bold;">{{orderData.listingData.label}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="kd_flex_row_center" style="margin: 5px 0px;">
        <div style="border: solid 2px; border-radius: 14px; padding: 10px; background-color: #f7f7f7;">

          <ion-row class="kd_flex kd_center_align" *ngFor="let item of orderData?.orderedItems">
            <ion-col size=" 8">
              <ion-text style="font-size: 16px; font-weight: bold;">{{item.name}}</ion-text>
            </ion-col>

            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text class="kd_flex" style="font-size: 14px; color: black; font-weight: bold;">&#8377;
                {{item.price}}
                <ion-icon style="padding-right: 5px; padding-left: 5px;" class="icon_style"
                  name="close-outline"></ion-icon>
                {{item.count}}</ion-text>
            </ion-col>
            <ion-col class="kd_flex kd_end_align ion-no-padding" style="padding-right: 5px;">
              <ion-text style="font-weight: bold; font-size: 14px;"> =
                ${{item.individualItemCost}}</ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="kd_flex kd_center_align">
            <ion-col size="8">
              <ion-text style="font-size: 14px; color: #777;">GST</ion-text>
            </ion-col>

            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text style="font-size: 14px; color: #555;">&#8377; {{orderData.gstAmount}}</ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="kd_flex kd_center_align">
            <ion-col size="8">
              <ion-text style="font-size: 14px; color: #777;">Delivery ({{orderData.deliveryOption.type}})</ion-text>
            </ion-col>

            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text style="font-size: 14px; color: #555;">{{orderData.deliveryOption.price}}</ion-text>
            </ion-col>
          </ion-row>


          <ion-row class="kd_flex kd_center_align">
            <ion-col size="8">
              <ion-text style="font-size: 16px; font-weight: bold;;">Total</ion-text>
            </ion-col>

            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text style="font-size: 16px; font-weight: bold;">${{orderData.itemsCostIncludingCharges}}</ion-text>
            </ion-col>
          </ion-row>

        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col style="padding-top: 10px;">
        <ion-textarea class="custom-textarea" placeholder="Note"></ion-textarea>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col>
        <ion-text style="font-weight: bold; font-size: 20px;">Delivery Details</ion-text>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 15px;">
      <ion-col>
        <div class="kd_flex">
          <ion-icon class="icon_style" name="home-outline"></ion-icon>
          <ion-text style="font-weight: bold; font-size: 18px;">Delivery Address</ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text style="font-size: 14px;">
          {{orderData.deliveryAddress.name}} <br>
          {{orderData.deliveryAddress.email}} <br>
          {{orderData.deliveryAddress.mobile}} <br><br>
          <ion-text style="font-size: 14px;" [innerHTML]="getSanitizedLocationUrl()"></ion-text>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row style="margin: 15px 0px;">
      <ion-col>
        <div class="kd_flex" style="padding-bottom: 5px;">
          <ion-icon class="icon_style" name="location-outline"></ion-icon>
          <ion-text style="font-size: 18px; font-weight: bold;"
            *ngIf="orderData.deliveryOption.type != 'Pickup Available'">Delivery Location</ion-text>
          <ion-text style="font-size: 18px; font-weight: bold;"
            *ngIf="orderData.deliveryOption.type == 'Pickup Available'">Pickup Location</ion-text>
        </div>
        <ion-text *ngIf="orderData.deliveryOption.type != 'Pickup Available'" (click)="redirectToGoogleMaps()">
          <span style="color: #007bff; text-decoration: none;">{{orderData.deliveryAddress.LocationUrl}}</span>
        </ion-text>
        <ion-text *ngIf="orderData.deliveryOption.type == 'Pickup Available'" (click)="redirectToGoogleMaps()">
          <span style="color: #007bff; text-decoration: none;">{{orderData.listingData?.address}}</span>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col class="kd_center_align_items" (click)="redirectToGoogleMaps()" style="cursor: pointer;">
        <ion-icon name="navigate-circle-outline" style="height: 25px; width: 25px;"></ion-icon>
        <ion-text style="padding: 0px 10px;">Track Delivery</ion-text>
        <img src="../../assets/right_arrow.png" alt="" style="height: 25px; width: 25px;">
      </ion-col>
    </ion-row> -->

  </div>
</ion-content>