<ion-content [fullscreen]="true">
  <div style="height: 100%; padding: 20px;">
    <ion-row style="border-bottom: none !important; width: 100%;justify-content: end;">
      <ion-icon (click)="logOut()" name="log-out-outline" style="height:30px;width: 30px;"></ion-icon>
    </ion-row>
    <ion-row style="border-bottom: none !important; width: 100%;">
      <ion-col>
        <div class="kd_col_center_align" style="flex-direction: column;">
          <div class="profile-photo-container">
            <img *ngIf="userDataForm?.get('image')?.value" [src]="userDataForm.get('image')?.value">
            <label class="upload-label" *ngIf="!userDataForm.get('image')?.value">
              <input type="file" accept="image/*" (change)="onFileSelected($event)">
              Choose Photo*
            </label>
          </div>
          <label *ngIf="userDataForm.get('image')?.value" class="change-file-label">
            <input type="file" accept="image/*" (change)="onFileSelected($event)">
            Change Photo
          </label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: none !important; width: 100%;text-align: center;"
      *ngIf="userData?.primaryRole === 'maker'">
      <ion-col class="text_center" style="margin-top: 0px">
        <ion-toggle aria-label="Dark toggle" color="success" [(ngModel)]="isToggleChecked" (ionChange)="toggleChanged()"
          style="padding-top: 15px;"></ion-toggle> <br>
        <ion-text>Switch to Maker</ion-text>
      </ion-col>
    </ion-row>
    <form [formGroup]="userDataForm">
      <div>
        <ion-card style="display: grid; align-items: center;" class="input_selection">
          <ion-item>
            <ion-label position="stacked">Name*</ion-label>
            <ion-input formControlName="userName" aria-label="Name" placeholder="Enter Name"></ion-input>
          </ion-item>
        </ion-card>
        <ion-card style="display: grid; align-items: center;" class="input_selection">
          <ion-item>
            <ion-label position="stacked">Email*</ion-label>
            <ion-input formControlName="email" aria-label="Email" placeholder="Enter Email"></ion-input>
          </ion-item>
        </ion-card>
        <ion-card style="display: grid; align-items: center;" class="input_selection">
          <ion-item>
            <ion-label position="stacked">Mobile*</ion-label>
            <ion-input formControlName="mobile" aria-label="Mobile" placeholder="Enter Mobile"></ion-input>
          </ion-item>
        </ion-card>

        <ion-card style="display: grid; align-items: center;" class="input_selection">
          <ion-item>
            <ion-label position="stacked">Location*</ion-label>
            <ion-input formControlName="city" aria-label="Location" placeholder="Enter Location"></ion-input>
          </ion-item>
        </ion-card>

        <!-- <ion-card style="display: grid; align-items: center; height: 112px; padding-top: 0px;" class="input_selection">
          <ion-item>
            <ion-label position="stacked">Bio*</ion-label>
            <ion-textarea formControlName="bio" aria-label="Bio" maxlength="200"
              style="font-size: 18px;"></ion-textarea>
          </ion-item>
        </ion-card> -->
      </div>
    </form>
    <ion-button class="kd_save_button" (click)="saveProfile()">Save</ion-button>
    <div style="height: 100px;"></div>
  </div>
</ion-content>

<ion-footer style="bottom: 0px; position: absolute" *ngIf="edit">
  <ion-card style="margin: 0px; border-radius: 0px; padding: 10px">
    <ion-row>
      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent" (click)="goToOrders()">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="bag-handle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Orders</ion-text>
      </ion-col>

      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent" (click)=" goToDashboard()">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="list-circle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Listings</ion-text>
      </ion-col>

      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="person-circle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Profile</ion-text>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-footer>