<ion-header>
  <div class="kd_header_title_div">
    <ion-text>Contact US</ion-text>
    <ion-icon class="cancel_icon" (click)="navigateBackToLogin()" name="close-circle-outline"></ion-icon>
  </div>
</ion-header>
<ion-content class="ion-padding">
  You may contact us using the information below: <br><br>
  Merchant Legal entity name: BELLYJOY FOODS PRIVATE LIMITED <br><br>
  Registered Address: S2 - VNR Towers , Rajendra nagar , 1st lane, Guntur, Andhra Pradesh, PIN: 522006 <br><br>
  Operational Address: S2 - VNR Towers , Rajendra nagar , 1st lane, Guntur, Andhra Pradesh, PIN: 522006 <br><br>
  <b>Telephone No:</b> <a href="tel:9440974461">9440974461</a><br><br>
  <b>E-Mail ID: </b> <a href="mailto:hello&#64;lovelychocos.com">hello&#64;lovelychocos.com</a>
</ion-content>