<div class="login-container">
  <ion-row>
    <ion-col size="10">
      <ion-text class="kd_main_heading gradient-text">Welcome to Kickday</ion-text>
    </ion-col>
    <ion-col style="justify-content: end;display: flex;" size="2">
      <ion-icon name='close-circle-outline' (click)='goToListings()' style='font-size: 25px; color: #777;'></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="kd_center_align">
      <img src="../../assets/bannerImg.jpeg" alt="Food Image" class="login-image">
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 20px;">
    <ion-col>
      <ion-text class="login-heading">Mobile Number</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="kd_margin_bott_10">
      <ion-input (keyup)="eventHandler($event.keyCode)" type="tel" class="input_selection" pattern="[0-9]*"
        minlength="10" maxlength="10" [(ngModel)]="mobileNumber" placeholder="Enter Mobile"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text class="login-heading">Pin Setup</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="kd_margin_bott_10">
      <ion-input (keyup)="eventHandler($event.keyCode)" class="input_selection" type="tel" pattern="[0-9]*"
        minlength="6" maxlength="6" [(ngModel)]="pin" placeholder="Enter Pin"></ion-input>
    </ion-col>
  </ion-row>

  <div *ngIf="resCode" class="error">
    <span *ngIf="resCode == 404">Account Not Found</span>
    <span *ngIf="resCode == 409">Account exsist</span>
    <span *ngIf="resCode == 403">Your Account has been disabled please contact business owner</span>
  </div>

  <ion-row *ngIf="profileType === 'customer'">
    <ion-col class="kd_margin_bott_10">
      <ion-input (keyup)="eventHandler($event.keyCode)" class="input_selection" pattern="[0-9]*" minlength="6"
        maxlength="6" [(ngModel)]="confirmPin" placeholder="Confirm Pin" *ngIf="showConfirmPin"></ion-input>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-button expand="full" shape="round" *ngIf="!showConfirmPin" (click)="login()"
        class="login_button_styles">Login</ion-button>
      <ion-button expand="full" shape="round" *ngIf="showConfirmPin" (click)="createCustomer()"
        class="login_button_styles">Create</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="kd_center_align">
      <ion-text class="line" (click)="!showConfirmPin ? createAccount() : goBackToLogin()">
        {{ !showConfirmPin ? 'Create Account' : 'Login' }}
      </ion-text>
    </ion-col>
  </ion-row>

  <!-- <ion-button id="open-modal" expand="block">Open Modal</ion-button> -->

  <ion-row>
    <ion-col class="cursor_pointer kd_col_center_align" (click)="navigateToContatUs()">
      <img src="../../assets/Contact-Us.png" style="height: 22px; width: 32px; padding-right: 10px;" />
      <ion-text>Contact US</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="cursor_pointer kd_col_center_align" (click)="navigateToPrivacyPolicy()">
      <img src="../../assets/privacy-policy.png" style="height: 22px; width: 32px; padding-right: 10px;" />
      <ion-text>Privacy Policy</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="cursor_pointer kd_col_center_align" (click)="navigateToTermsAndConditions()">
      <img src="../../assets/terms-and-conditions.png" style="height: 22px; width: 32px; padding-right: 10px;" />
      <ion-text>Terms & Conditions</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="cursor_pointer kd_col_center_align" (click)="navigateToShippingAndDeliveyPolicy()">
      <img src="../../assets/delivery-van.png" style="height: 22px; width: 32px; padding-right: 10px;" />
      <ion-text>Shipping & Delivery Policy</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="cursor_pointer kd_col_center_align" (click)="navigateToCancellationANdRefundPolicy()">
      <img src="../../assets/Book Club.png" style="height: 22px; width: 32px; padding-right: 10px;" />
      <ion-text>Cancellation & Refund Policy</ion-text>
    </ion-col>
  </ion-row>

</div>

<div>
  <ion-row>
    <ion-col size="5"></ion-col>
    <ion-col size="7" style="opacity: 0.4;">
      <ion-label style="padding-right: 10px;">
        <img style="width: 20px !important" src="../../assets/copyright.png" alt="">
      </ion-label>
      <ion-text style="font-size: 12px;">2023 Vdream Innovations (OPC) Pvt Ltd. All Rights Reserved.</ion-text>
    </ion-col>
  </ion-row>
</div>