<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-row style="margin: 10px;">
      <ion-col size="2" style="display: flex; justify-content: start; align-items: center;" (click)="goToBack()">
        <ion-icon name="arrow-back-outline" class="kd_back_button"></ion-icon>
      </ion-col>
      <ion-col size="8">
        <ion-text>Order 11225544</ion-text> <br>
        <ion-text style="font-size: 12px; font-weight: bold;">Received on 23 may 2023 3:00PM</ion-text>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin: 15px;">
    <ion-row style="margin-bottom: 10px;">
      <ion-col class="kd_flex_row_center ion-no-padding" size="4" style="padding-right: 5px;">
        <div style="border: solid 2px; border-radius: 14px; padding: 10px 0px;">
          <ion-row>
            <ion-col class="kd_flex kd_center_align">
              <ion-icon class="icon_style" style="padding-right: 5px;" name="home-outline"></ion-icon>
              <ion-text style="font-size: 12px; font-weight: bold;">Order Dispatched</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: center;">
              <ion-text class="kd_font_size_12">Dispatched on <br> 24th May 2:30PM</ion-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
  
      <ion-col class="kd_flex_row_center ion-no-padding" size="4" style="padding-right: 5px;">
        <div style="border: solid 2px; border-radius: 14px; padding: 10px 0px;">
          <ion-row>
            <ion-col class="kd_flex kd_center_align">
              <ion-icon class="icon_style" style="padding-right: 5px;" name="home-outline"></ion-icon>
              <ion-text style="font-size: 12px; font-weight: bold;">Order Delivered</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: center;">
              <ion-text class="kd_font_size_12">Delivered on <br> 29th May 2:30PM</ion-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
  
      <ion-col class="kd_flex_row_center ion-no-padding" size="4">
        <div style="border: solid 2px; border-radius: 14px; padding: 10px 0px;">
          <ion-row>
            <ion-col class="kd_flex kd_center_align">
              <ion-icon class="icon_style" style="padding-right: 5px;" name="home-outline"></ion-icon>
              <ion-text style="font-size: 12px; font-weight: bold;">Order Cancelled</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: center;">
              <ion-text class="kd_font_size_12">Cancelled on <br> 30th May 2:30PM</ion-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input class="input_selection" placeholder="Tracking link with tracking ID paste here"></ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row style="margin-top: 10px;">
      <ion-col class="kd_flex" size="8">
        <div class="first_letter_styles">
          <ion-text style="font-weight: bold;">R</ion-text>
        </div>
        <ion-text style="padding-left: 20px;"><span>Raj Kumar</span> <br> 
        <span>Kphb, Hyderabad</span></ion-text>
      </ion-col>
      <ion-col size="2" class="kd_flex kd_center_align">
        <ion-icon name="call-outline" class="kd_svg_size"></ion-icon>
      </ion-col>
      <ion-col size="2" class="kd_flex kd_end_align">
        <ion-icon name="mail-outline" class="kd_svg_size"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin: 10px 0px;">
        <ion-text style="font-weight: bold;">Mutton Biryani with paya preparation on weekend do not miss it.</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="kd_flex_row_center" style="margin: 5px 0px;">
        <div style="border: solid 2px; border-radius: 14px; padding: 10px; background-color: #f7f7f7;">
    
          <ion-row class="kd_flex kd_center_align">
            <ion-col size="8">
              <ion-text style="font-size: 16px; font-weight: bold;">Mutton Biryani Boneless</ion-text>
            </ion-col>
    
            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text class="kd_flex" style="font-size: 14px; color: black; font-weight: bold;">$ 350 
                <ion-icon style="padding-right: 5px; padding-left: 5px;" class="icon_style" name="close-outline"></ion-icon> 1</ion-text>
            </ion-col>
            <ion-col class="kd_flex kd_end_align ion-no-padding" style="padding-right: 5px;">
              <ion-text style="font-weight: bold; font-size: 14px;"> = $350</ion-text>
            </ion-col>
          </ion-row>
    
          <ion-row class="kd_flex kd_center_align">
            <ion-col size="8">
              <ion-text style="font-size: 14px; color: #777;">Delivery (Neighborhood)</ion-text>
            </ion-col>
    
            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text style="font-size: 14px; color: #555;">Free Delivery</ion-text>
            </ion-col>
          </ion-row>
  
          <ion-row class="kd_flex kd_center_align">
            <ion-col size="8">
              <ion-text style="font-size: 14px; color: #777;">GST</ion-text>
            </ion-col>
    
            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text style="font-size: 14px; color: #555;">$40</ion-text>
            </ion-col>
          </ion-row>
  
          <ion-row class="kd_flex kd_center_align">
            <ion-col size="8">
              <ion-text style="font-size: 16px; font-weight: bold;;">Total</ion-text>
            </ion-col>
    
            <ion-col size="4" class="kd_flex kd_end_align">
              <ion-text style="font-size: 16px; font-weight: bold;">$4000</ion-text>
            </ion-col>
          </ion-row>
    
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding-top: 15px;">
        <ion-textarea class="custom-textarea" placeholder="Note"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text style="font-weight: bold;">Delivery details</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="kd_center_align_items">
        <ion-icon name="bicycle-outline" class="kd_back_button"></ion-icon>
        <ion-text style="padding-left: 10px;">Delivery ( Pickup )</ion-text>
      </ion-col>

      <ion-col>
        <ion-text style="font-size: 14px;">Pickup on 24th May Friday between 2:00PM to 3:00PM</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="kd_center_align_items">
        <ion-icon name="home-outline" class="kd_back_button"></ion-icon>
        <ion-text style="padding-left: 10px;">Delivery Address</ion-text>
      </ion-col>

      <ion-col>
        <ion-text style="font-size: 14px;">G1 Gayatri Sri Nilayam Dharma reddy colony kbhb1, Hyderabad</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="kd_center_align_items">
        <ion-icon name="location-outline" class="kd_back_button"></ion-icon>
        <ion-text style="padding-left: 10px;">Delivery Location / Pickup Location</ion-text> <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <a href="www.google.com" style="color: #007bff; text-decoration: none;">www.google.com</a>
        </ion-text>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
