.input_selection {
    border: solid 1px black;
    border-radius: 14px;
    min-height: 75px;
    box-shadow: none;
    --padding-start: 10px;
    margin-top: 8px;
}

ion-textarea.custom-textarea {
    --color: black;
    padding: 10px;
    border-radius: 14px;
    --placeholder-color: black;
    --placeholder-opacity: 0.8;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.scroll_width ::-webkit-scrollbar {
    width: 0px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

button[disabled] {
    cursor: no-drop;
    opacity: 0.3;
}

button {
    background-color: white;
}