<ion-header [translucent]="true" style="box-shadow: none; background: white;">
  <ion-row>
    <ion-col class="kd_center_align_items">
      <ion-icon name="bag-handle-outline" class="kd_svg_size padd_left"></ion-icon>
      <ion-text style="padding-left: 10px;">Orders</ion-text>
    </ion-col>
  </ion-row>
  <ion-toolbar
    style="padding: 0px; --background: white; box-shadow: none; background-color: #dfd9f1; --box-shadow: none">
    <ion-segment (ionChange)="changeSegment($event)" [(ngModel)]="defaultSegment">
      <ion-segment-button value="Live">
        <ion-label>Live</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Favourite">
        <ion-label>Favourite</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Delivered">
        <ion-label>Delivered</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Cancelled">
        <ion-label>Cancelled</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin: 15px 15px 20px 15px;" *ngFor="let order of orders">
    <ion-card class="kd_orders_card" (click)="navigateToOrderOverView(order)">
      <ion-row>
        <ion-col>
          <ion-text>Order {{order.ID}}</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>Order {{order.status}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>Order Ends on {{order.listingData.orderEndsOn | date:'dd MMMM EEE hh:mm a'}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="10">
          <ion-text style="font-weight: bold;">{{order.listingData.label}}</ion-text>
        </ion-col>

        <ion-col size="2" class="kd_flex kd_end_align">
          <ion-icon class="icon_style" style="height: 32px; width: 32px; padding-right: 0px;"
            name="arrow-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="kd_flex">
            <ion-icon class="icon_style" name="bicycle-outline"></ion-icon>
            <ion-text style="font-weight: 500;"
              *ngIf="order.deliveryOption.type != 'Pickup Available'">{{order.deliveryOption.type}}</ion-text>
            <ion-text style="font-weight: 500;"
              *ngIf="order.deliveryOption.type == 'Pickup Available'">Pickup</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="9">
          <ion-text *ngIf="order.deliveryOption.type != 'Pickup Available'">Delivery on
            {{order.listingData.orderDeliveredOn | date:'dd MMMM EEE'}}</ion-text>
          <ion-text *ngIf="order.deliveryOption.type == 'Pickup Available'">Pickup on
            {{order.listingData.orderDeliveredOn | date:'dd MMMM EEE'}}</ion-text>
        </ion-col>

        <ion-col class="kd_flex kd_end_align" size="3">
          <ion-text style="font-weight: bold;">&#8377; {{order.totalPrice}}</ion-text>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>
  <div style="height: 100px;"></div>
</ion-content>


<ion-footer style="bottom: 0px; position: absolute">
  <ion-card style="margin: 0px; border-radius: 0px; padding: 10px">
    <ion-row>
      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="bag-handle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Orders</ion-text>
      </ion-col>

      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent" (click)=" goToDashboard()">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="list-circle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Listings</ion-text>
      </ion-col>

      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent" (click)="goToProfile()">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="person-circle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Profile</ion-text>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-footer>