ion-segment-button {
    --color-checked: #61399f;
    text-transform: none;
    font-size: 12px;
    --padding-start: 0px;
    --padding-end: 0px;
    min-width: min-content;
}

.padd_left {
    padding-left: 20px;
}