ion-textarea.custom-textarea {
    --color: black;
    padding: 10px;
    border-radius: 14px;
    --placeholder-color: black;
    --placeholder-opacity: 0.8;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.location_type_div {
    --background: white;
    text-align: left;
    font-size: 12px;
    border: solid 1px;
    border-radius: 14px;
    min-height: 75.2px;
    min-width: 150px;
    padding: 8px;
    font-weight: bold;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-500, white);
    --swiper-theme-color: #0aa26d;
}

.selected-button {
    background-color: lightblue;
    color: darkblue;
}