<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-row style="margin: 10px;">
      <ion-col style="display: flex; justify-content: start; align-items: center;">
        <ion-icon name="arrow-back-outline" class="kd_svg_size" (click)="navigateToListings()"></ion-icon>
      </ion-col>
      <ion-col style="display: flex; justify-content: center; align-items: center;">
        <ion-icon *ngIf="!listingData.favourite" name="star-outline" class="kd_svg_size" (click)="favItem()"></ion-icon>
        <ion-icon *ngIf="listingData.favourite" name="star" class="kd_svg_size" style="color:blue"
          (click)="unFavItem()"></ion-icon>
      </ion-col>
      <ion-col style="display: flex; justify-content: center; align-items: center;">
        <ion-icon name="share-social-outline" class="kd_svg_size"></ion-icon>
      </ion-col>
      <ion-col style="display: flex; justify-content: end; align-items: center;">
        <ion-icon name="bag-handle-outline" class="kd_svg_size"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin: 15px;">
    <div style="border: solid 1px lightgray; border-radius: 14px;">
      <swiper-container style="height: 240px;" #swiper (afterinit)="swiperReady()"
        (slidechange)="swiperSlideChanged($event)" [loop]="true" [pagination]="true">
        <swiper-slide *ngFor="let image of listingData.imageArray">
          <img [src]="image | getLogo | async" />
        </swiper-slide>
      </swiper-container>
    </div>

    <ion-row>
      <ion-col class="kd_center_align_items" size="5">
        <ion-icon class="icon_style" style="padding-bottom: 6px;" name="bag-handle-outline"></ion-icon>
        <ion-text>{{listingData.category}} <span>+{{listingData.listingOrders?.length}}</span></ion-text>
      </ion-col>

      <ion-col class="kd_center_align_items" size="7">
        <ion-icon name="caret-back-outline" style="padding-right: 10px; color: #0aa26d;" class="kd_back_button"
          (click)="goPrev()"></ion-icon>
        <ion-icon name="caret-forward-outline" class="kd_back_button" style="color: #0aa26d;"
          (click)="goNext()"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Order Delivered On</ion-text>
        <div style="margin-top: 3px;">
          <ion-icon class="icon_style" name="calendar-outline"></ion-icon>
          <ion-text>{{listingData.startDateTime | date:'d MMMM EEE h:mm a'}}</ion-text>
        </div>
      </ion-col>

      <ion-col class="kd_flex">
        <div class="first_letter_styles">
          <ion-text style="font-weight: bold;">R</ion-text>
        </div>
        <ion-text style="padding-left: 20px; font-size: 13px;">
          <span style="font-weight: bold;">Maker {{listingData.ID}}</span> <br>

          <ng-container *ngIf="listingData.makerData">
            <span>{{listingData.makerData.userName}}</span> <br>
          </ng-container>

          <ng-container *ngIf="listingData.makerData">
            <span>{{listingData.makerData.address}}</span>
          </ng-container>

        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text style="font-size: 22px; font-weight: 600;">{{listingData.label}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Order Ends On</ion-text>
        <div style="margin-top: 3px;">
          <ion-icon class="icon_style" name="calendar-outline"></ion-icon>
          <ion-text>{{listingData.endDateTime | date:'d MMMM EEE h:mm a'}}</ion-text>
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row style="padding-top: 15px;" *ngFor="let order of listingData.listingOrders">
        <ion-col size="7">
          <ion-text>{{order.name}}</ion-text> <br>
          <div style="padding-top: 5px;">
            <ion-text>{{order.quantity}} Left</ion-text>
          </div>
        </ion-col>
        <ion-col size="2" class="kd_flex kd_center_align">
          <ion-text>$ {{order.price}}</ion-text>
        </ion-col>
        <ion-col size="3" class="kd_end_align kd_center_align">
          <ion-button class="count_button">
            <ion-button class="count_button" style="--border-radius: 0px; --background: white; --background-activated: #bcc4e8;" (click)="decrementCount()">
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
            
            <span class="count" style="padding: 0px 8px;">{{ count }}</span>
            
            <ion-button class="count_button" style="--border-radius: 0px; --background: white; --background-activated: #bcc4e8;" (click)="incrementCount()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-button>
        </ion-col>
      </ion-row> -->

    <ion-row style="padding-top: 15px;" *ngFor="let order of listingData.listingOrders">
      <ion-col size="7">
        <ion-text>{{order.name}}</ion-text> <br>
        <div style="padding-top: 5px;">
          <ion-text>{{ order.quantity - order.count }} Left</ion-text>
        </div>
      </ion-col>
      <ion-col size="2" class="kd_flex kd_center_align">
        <ion-text>$ {{order.price}}</ion-text>
      </ion-col>
      <ion-col size="3" class=" kd_flex kd_end_align">
        <ion-button class="count_button">
          <ion-button class="count_button"
            style="--border-radius: 0px; --background: white; --background-activated: #bcc4e8;"
            (click)="decrementCount(order)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>

          <span class="count" style="padding: 0px 8px;">{{ order.count }}</span>

          <ion-button class="count_button"
            style="--border-radius: 0px; --background: white; --background-activated: #bcc4e8;"
            (click)="incrementCount(order)" [disabled]="order.count >= order.quantity">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-button>
      </ion-col>

      <ion-col size="12" class="kd_flex kd_end_align">
        <ion-text>Individual Item Cost: $ {{ order.individualItemCost }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding-top: 15px;">
        <ion-textarea class="custom-textarea" placeholder="Note"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="11" class="kd_flex">
        <ion-icon class="icon_style" name="bicycle-outline"></ion-icon>
        <ion-text class="kd_flex kd_center_align">Delivery from: <span class="kd_flex kd_center_align"><ion-icon
              class="icon_style" name="location-outline"></ion-icon>
            {{listingData.address}} </span></ion-text>
      </ion-col>
      <ion-col size="1" class="kd_flex kd_end_align">
        <ion-icon class="icon_style kd_no_padding" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5">
        <ion-item style="border: solid 1px black; border-radius: 14px; padding-left: 10px;">
          <ion-select label="Delivery Options" [(ngModel)]="selectedDeliveryType" style="min-height: 48px;">
            <ion-select-option *ngFor="let option of listingData.deliveryOptions"
              [value]=option.type>{{option.type}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col (click)="openAddressList()">
        <ion-button>Select Address</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="11" class="kd_flex">
        <ion-icon class="icon_style" name="bicycle-outline"></ion-icon>
        <ion-text class="kd_flex kd_center_align">Delivery Options: <span class="kd_flex kd_center_align">
            <ion-icon class="icon_style" name="location-outline"></ion-icon>
            {{selectedDeliveryType}} </span></ion-text>
      </ion-col>
      <ion-col size="1" class="kd_flex kd_end_align">
        <ion-icon class="icon_style kd_no_padding" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="11" class="kd_flex">
        <ion-icon class="icon_style" name="bicycle-outline"></ion-icon>
        <ion-text class="kd_flex kd_center_align">Selected Address: <span class="kd_flex kd_center_align">
            <ion-icon class="icon_style" name="location-outline"></ion-icon>
            {{selectedAddress}} </span></ion-text>
      </ion-col>
      <ion-col size="1" class="kd_flex kd_end_align">
        <ion-icon class="icon_style kd_no_padding" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="addToCart()">ADD TO CART</ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>