<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-row style="margin: 10px;">
      <ion-col style="display: flex; justify-content: start; align-items: center;">
        <ion-icon name="arrow-back-outline" class="kd_svg_size" (click)="goBack()"></ion-icon>
      </ion-col>
      <ion-col style="display: flex; justify-content: center; align-items: center;">
        <ion-icon *ngIf="!listingData.favourite" name="star-outline" class="kd_svg_size" (click)="favItem()"></ion-icon>
        <ion-icon *ngIf="listingData.favourite" name="star" class="kd_svg_size" style="color:blue"
          (click)="unFavItem()"></ion-icon>
      </ion-col>
      <ion-col style="display: flex; justify-content: center; align-items: center;">
        <ion-icon name="share-social-outline" class="kd_svg_size"></ion-icon>
      </ion-col>
      <ion-col style="display: flex; justify-content: end; align-items: center;">
        <ion-icon name="bag-handle-outline" class="kd_svg_size"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin: 15px;">
    <div style="border: solid 1px lightgray; border-radius: 14px;">
      <swiper-container [style.height]="swiperHeight" style="overflow: hidden;" #swiper (afterinit)="swiperReady()"
        (change)="swiperSlideChanged($event)" [loop]="true" [pagination]="true" [slidesPerView]="1"
        [slidesPerGroup]="1">
        <swiper-slide *ngFor="let image of listingData.imageArray">
          <img [src]="image | getLogo | async" />
        </swiper-slide>
      </swiper-container>
    </div>


    <ion-row>
      <ion-col class="kd_center_align_items" size="5">
        <ion-icon class="icon_style" style="padding-bottom: 6px;" name="bag-handle-outline"></ion-icon>
        <ion-text>{{listingData.category}}</ion-text>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Order Delivered On</ion-text>
        <div style="margin-top: 3px;">
          <ion-icon class="icon_style" name="calendar-outline"></ion-icon>
          <ion-text>{{listingData.orderDeliveredOn | date:'d MMMM EEE'}}</ion-text>
        </div>
      </ion-col>

      <ion-col class="kd_flex">
        <div class="first_letter_styles">
          <ion-text style="font-weight: bold;">R</ion-text>
        </div>
        <ion-text style="padding-left: 20px; font-size: 13px;">
          <span style="font-weight: bold;">Maker ({{listingData.ID}})</span> <br>

          <ng-container *ngIf="listingData.makerData">
            <span>{{listingData.makerData.userName}}</span> <br>
          </ng-container>

          <ng-container *ngIf="listingData.makerData">
            <span>{{listingData.makerData.address}}</span>
          </ng-container>

        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text style="font-size: 22px; font-weight: 600;">{{listingData.label}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Order Ends On</ion-text>
        <div style="margin-top: 3px;">
          <ion-icon class="icon_style" name="calendar-outline"></ion-icon>
          <ion-text>{{listingData.orderEndsOn | date:'dd MMMM EEE hh:mm a'}}</ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 15px;" *ngFor="let order of listingData.listingOrders">
      <ion-col size="7">
        <ion-text>{{order.name}}</ion-text> <br>
        <div style="padding-top: 5px;">
          <ion-text>{{ order.quantity - order.count }} Left</ion-text>
        </div>
      </ion-col>
      <ion-col size="2" class="kd_flex kd_center_align">
        <ion-text>&#8377; {{order.price}}</ion-text>
      </ion-col>
      <ion-col size="3" class=" kd_flex kd_end_align">
        <ion-button class="count_button">
          <ion-button class="count_button"
            style="--border-radius: 0px; --background: white; --background-activated: #bcc4e8;"
            (click)="decrementCount(order)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>

          <span class="count" style="padding: 0px 8px;">{{ order.count }}</span>

          <ion-button class="count_button"
            style="--border-radius: 0px; --background: white; --background-activated: #bcc4e8;"
            (click)="incrementCount(order)" [disabled]="order.count >= order.quantity">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-button>
      </ion-col>

      <ion-col size="12" class="kd_flex kd_end_align">
        <ion-text>Individual Item Cost: &#8377; {{ order.individualItemCost }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding-top: 15px;">
        <ion-textarea class="custom-textarea" placeholder="Note" [(ngModel)]="note"></ion-textarea>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-toolbar class="scroll_width">
        <div style="overflow-x: auto; white-space: nowrap; display: flex; margin: 5px;">
          <button style="border: solid 2px; border-radius: 14px; padding: 10px 0px; margin-right: 15px;"
            *ngFor="let option of listingData.deliveryOptions" [class.selected]="selectedDeliveryType === option.type"
            (click)="selectDeliveryType(option.type)"
            [ngClass]="{'selected-button': selectedDeliveryType === option.type}">
            <ion-row>
              <ion-col class="kd_flex kd_center_align">
                <ion-icon class="icon_style" style="padding-right: 5px;" name="home-outline"></ion-icon>
                <ion-text style="font-size: 12px; font-weight: bold;">{{option.type}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="text-align: center;">
                <ion-text class="kd_font_size_12">Delivered on <br> 24th May 2:30PM</ion-text>
              </ion-col>
            </ion-row>
          </button>
        </div>
      </ion-toolbar>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="addToCart()">ADD TO CART</ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>