.selected-fruit {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 8px;
}

.calander_div {
    border: solid 1px black;
    border-radius: 14px;
    margin: 15px 5px 0px 5px;
    padding: 0px 5px;
}

.calander_div_text {
    font-size: 12px;
    font-weight: bold;
}

.input_selection {
    border: solid 1px black;
    border-radius: 14px;
    min-height: 48px;
    box-shadow: none;
    --padding-start: 10px;
    margin-top: 8px;
}

.margin_top {
    margin-top: 30px;
}

.icon_size_30 {
    height: 30px;
    width: 30px;
}

ion-datetime {
    max-width: 450px !important;
}

.date_text {
    padding-left: 10px;
    font-weight: bold;
}

ion-button {
    margin-right: 0px !important;
}