<ion-content [fullscreen]="true">
  <div style="margin: 15px;">
    <ion-row class="kd_center_align" style="margin-top: 10px;">
      <ion-col>
        <div class="kd_flex">
          <ion-icon class="icon_style" name="newspaper-outline"></ion-icon>
          <ion-text style="font-weight: bold; font-size: 18px;">Create Listing</ion-text>
        </div>
      </ion-col>

      <ion-col (click)="goToBack()">
        <div class="kd_flex kd_end_align">
          <ion-text style="font-weight: bold; font-size: 12px; padding-right: 10px;">Cancel Listing</ion-text>
          <ion-icon class="icon_style kd_no_padding" name="close-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <div style="position: relative;">
          <ion-item class="search_item" lines="none">
            <ion-label style="display: contents;">
              <ion-icon name="location-outline" class="icon_style" style="padding-left: 10px;"></ion-icon>
            </ion-label>
            <ion-searchbar placeholder="Enter Your location*"
              style="width: 91%; height: 100%; --box-shadow: 0; padding: 0px" search-icon="false"></ion-searchbar>
          </ion-item> -->
          <!-- <ion-list class="prediction-list">
            <ion-item *ngFor="let prediction of predictions" (click)="onPredictionSelect(prediction)">
              {{prediction.description}}
            </ion-item>
          </ion-list> -->
        <!-- </div> -->

        <div style="position: relative;">
          <ion-item class="search_item">
            <ion-label style="display: flex; justify-content: end;">
              <ion-icon name="location-outline" style="height: 20px; width: 20px;"></ion-icon>
            </ion-label>
            <ion-searchbar [(ngModel)]="search" (keypress)="onSearchInput()" placeholder="Enter Your location" [value]="bindingData?.address"
            style="width: 91%; height: 100%; --box-shadow: 0; padding: 0px" search-icon="false"></ion-searchbar>
          </ion-item>
          <ion-list style="padding: 0px !important; position: absolute; z-index: 1000; width: 100%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          border-radius: 8px;">
            <ion-item *ngFor="let prediction of predictions" (click)="onPredictionSelect(prediction)" style="margin-right: 45px; padding: 10px">
              {{prediction.description}}
            </ion-item>
          </ion-list>
        </div>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-textarea aria-label="Custom textarea" placeholder="Give a catchy title(150 words)"
          class="custom" [(ngModel)]="label" [value]="bindingData?.label"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding-top: 5px;">

        <div class="search_item" lines="none">
          <ion-searchbar placeholder="Add Category*" style="width: 100%; height: 100%; --box-shadow: 0;"
            search-icon="false" [debounce]="100" [(ngModel)]="selectedItemsText"
            (ionInput)="handleInput($event)" [value]="bindingData?.category"></ion-searchbar>
        </div>

        <ion-list *ngIf="results.length > 0" class="search-results">
          <ion-item *ngFor="let result of results" (click)="selectItem(result)"
            [class.selected-item]="isSelected(result)">
            <ion-label>{{ result }}</ion-label>
          </ion-item>
        </ion-list>
        <div *ngIf="results.length === 0 && selectedItemsText.length > 0" style="margin-top: 15px;">No results found
        </div>

        <div *ngFor="let item of selectedItems" class="selected-fruit">
          {{ item }}
          <ion-icon name="close-circle" (click)="removeCategoryItem(item)" style="padding-left: 6px;"></ion-icon>
        </div>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col>
        <div class="calander_div" (click)="openDateTimePicker('orderEndDateTime')">
          <ion-row>
            <ion-col>
              <ion-text class="calander_div_text">Order Ends with Date & Time ?</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="kd_col_center_align">
              <ion-icon name="calendar-number-outline" class="kd_svg_size"></ion-icon>
              <ion-text class="date_text">{{orderEndDateTime | date:'d MMMM EEE h:mm a'}}</ion-text>
            </ion-col>
          </ion-row>
        </div>
        <ion-datetime *ngIf="showOrderEndDateTimePicker" [(ngModel)]="orderEndDateTime" (ionChange)="onDateTimeChange('orderEndDateTime')" [showDefaultButtons]="true"></ion-datetime>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="calander_div" (click)="openDateTimePicker('orderDeliveredDateTime')">
          <ion-row>
            <ion-col>
              <ion-text class="calander_div_text">Order Delivered on ?</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="kd_col_center_align">
              <ion-icon name="calendar-number-outline" class="kd_svg_size"></ion-icon>
              <ion-text class="date_text">{{orderDeliveredDateTime | date:'d MMMM EEE h:mm a'}}</ion-text>
            </ion-col>
          </ion-row>
        </div>
        <ion-datetime *ngIf="showOrderDeliveredDateTimePicker" [(ngModel)]="orderDeliveredDateTime" (ionChange)="onDateTimeChange('orderDeliveredDateTime')" [showDefaultButtons]="true"></ion-datetime>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col style="margin: 15px 0px 0px 0px;" size="5">
        <ion-text style="font-size: 18px; font-weight: bold;">Item</ion-text> <br>
        <ion-input class="input_selection" placeholder="Enter Item" [(ngModel)]="newItemName"></ion-input>
      </ion-col>

      <ion-col style="margin: 15px 0px 0px 0px;" size="2.75">
        <ion-text style="font-size: 18px; font-weight: bold;">Price</ion-text> <br>
        <ion-input class="input_selection" placeholder="$0" [(ngModel)]="newItemPrice"></ion-input>
      </ion-col>

      <ion-col style="margin: 15px 0px 0px 0px;" size="2.75">
        <ion-text style="font-size: 18px; font-weight: bold;">Quantity</ion-text> <br>
        <ion-input class="input_selection" placeholder="Eg:2" [(ngModel)]="newItemQuantity"></ion-input>
      </ion-col>

      <ion-col size="1.5" class="kd_flex kd_flex_row_center margin_top">
        <ion-icon name="add-circle-outline" class="kd_svg_size" (click)="addItem()"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of items">
      <ion-col size="5" class="kd_flex kd_flex_row_center" style="justify-content: start;">
        <ion-text>{{ item.name }}</ion-text>
      </ion-col>

      <ion-col size="2.75" class="kd_flex kd_flex_row_center">
        <ion-text>$ {{ item.price }}</ion-text>
      </ion-col>

      <ion-col size="2.75" class="kd_flex kd_flex_row_center">
        <ion-text>{{ item.quantity }}</ion-text>
      </ion-col>

      <ion-col size="1.5" class="kd_flex kd_flex_row_center">
        <ion-icon name="trash-outline" class="icon_size_30" (click)="removeItem(item)"></ion-icon>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-text style="font-size: 18px; font-weight: bold;">Delivery type</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5">
        <ion-item style="border: solid 1px black; border-radius: 14px; padding-left: 10px;">
          <ion-select label="Delivery type" aria-label="Fruit" [(ngModel)]="deliveryType" style="min-height: 48px;">
            <ion-select-option value="Pickup Available">Pickup Available</ion-select-option>
            <ion-select-option value="Neighbourhood 5KM">Neighbourhood 5KM</ion-select-option>
            <ion-select-option value="Town/City 20KM">Town/City 20KM</ion-select-option>
            <ion-select-option value="PAN India above 20KM">PAN India above 20KM</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="2.75">
        <ion-button (click)="toggleFreeDelivery()" style="font-size: 10px; margin: 0px;">{{ isFreeDelivery ? 'Delivery Fee' : 'Free Delivery' }}</ion-button>
      </ion-col>
      
      <ion-col size="2.75">
        <ion-input [disabled]="isFreeDelivery" class="input_selection" style="margin-top: 0px;" placeholder="$ 0"
          [(ngModel)]="deliveryPrice"></ion-input>
      </ion-col>

      <ion-col size="1.5" class="kd_flex kd_flex_row_center" (click)="addDeliveryItem()">
        <ion-icon name="add-circle-outline" class="kd_svg_size"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let deliveryItem of deliveryItems">
      <ion-col size="5" class="kd_flex kd_flex_row_center" style="justify-content: start;">
        <ion-text>{{deliveryItem.type}}</ion-text>
      </ion-col>

      <ion-col size="2.75" class="kd_flex kd_flex_row_center">
        <ion-icon name="mail-outline" class="icon_size_30"></ion-icon>
      </ion-col>

      <ion-col size="2.75" class="kd_flex kd_flex_row_center">
        <ion-text>$ {{deliveryItem.price}}</ion-text>
      </ion-col>

      <ion-col size="1.5" class="kd_flex kd_flex_row_center" (click)="removeDeliveryItem(deliveryItem)">
        <ion-icon name="trash-outline" class="icon_size_30"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="5" class="kd_flex kd_flex_row_center" style="justify-content: start;">
        <ion-text>Neighbourhood 5KM</ion-text>
      </ion-col>

      <ion-col size="2.75" class="kd_flex kd_flex_row_center">
        <ion-icon name="mail-outline" class="icon_size_30"></ion-icon>
      </ion-col>

      <ion-col size="2.75" class="kd_flex kd_flex_row_center">
        <ion-text>Free</ion-text>
      </ion-col>

      <ion-col size="1.5" class="kd_flex kd_flex_row_center">
        <ion-icon name="trash-outline" class="icon_size_30"></ion-icon>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col>
        <div class="add_img_div ion-activatable ripple-parent" (click)="fileInput.click()">
          <input #fileInput type="file" accept="image/*" (change)="addMediaImages($event)" multiple style="display: none;">
          <ion-button>Add Images</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <ion-button id="present-alert">Add YouTube URL</ion-button>
      </ion-col>
      <ion-alert  
        trigger="present-alert"
        header="Please enter YouTube URL"
        [buttons]="alertButtons"
        [inputs]="alertInputs"
        cssClass="custom-alert"
      >
      </ion-alert>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="selected-images" [ngStyle]="{ border: 'none', padding: '0px', display: mediaImages.length === 0 ? 'none' : 'flex' }"
        style="max-height: 350px; overflow-y: auto; display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 20px;">
          <ng-container *ngFor="let image of mediaImages; let i = index">
            <ion-icon name="close" style="position: relative; left: 90%; height: 25px; width: 25px;"
            (click)="removeImage(i)"></ion-icon>
            <img [src]="image.image" alt="Selected image {{ i + 1 }}" style="flex: 0 0 calc(30% - 10px); max-height: 30%;">
          </ng-container>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="addListing()">ADD</ion-button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>