<ion-header [translucent]="true" style="box-shadow: none">
  <ion-toolbar>
    <ion-row style="margin: 10px">
      <ion-col size="9" style="display: flex; justify-content: start; align-items: center">
        <img src="../../../assets/icons/Kickday-logo-removebg-preview.png" alt=""
          style="position: absolute; height: 120px; width: 120px;">
      </ion-col>
      <ion-col size="3" class="kd_flex kd_end_align">
        <ion-button *ngIf="!showMenu" (click)="goToLogin()" style="margin: 0px; min-height: 30px">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="display: flex; align-items: center;">
    <ion-searchbar class="searchbar-custom" style="padding: 20px;" (keyup)="onSearch($event)"
      placeholder="Search by Category"></ion-searchbar>
    <ion-icon name="filter-circle-outline" class="kd_svg_size" style="padding-right: 20px;" (click)="openSearchModel()"
      *ngIf="!filterSearchTerm && !filterDeliveryType && !filterDeliveryDate"></ion-icon>
    <ion-icon name="filter-circle-outline" class="kd_svg_size" style="padding-right: 20px;color:blue"
      (click)="openSearchModel()" *ngIf="filterSearchTerm || filterDeliveryType || filterDeliveryDate"></ion-icon>

    <ion-icon name="rocket-outline" *ngIf="filterSearchTerm || filterDeliveryType || filterDeliveryDate"
      style="padding-right: 20px;color:blue;font-size: 30px;" (click)="clearFilter()"></ion-icon>
  </div>

  <div style="border: solid 1px lightgray; border-radius: 14px; margin: 20px" *ngFor="let listing of filteredItems"
    (click)="goToListingOverview(listing)">
    <swiper-container style="height: 240px" #swiper (afterinit)="swiperReady()"
      (slidechange)="swiperSlideChanged($event)" [loop]="true" [pagination]="true" [slidesPerView]="1"
      [slidesPerGroup]="1">
      <swiper-slide *ngFor="let image of listing.imageArray">
        <img [src]="image | getLogo | async" />
      </swiper-slide>
      <swiper-slide>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7Y5q41D8_hs" frameborder="0"
          allowfullscreen (press)="handlePress($event)"></iframe>
      </swiper-slide>
    </swiper-container>

    <!-- <ion-row style="padding: 10px" style="font-weight: bold">
      <ion-col class="kd_flex">
        <ion-text class="kd_main_heading">{{listing.label}}</ion-text>
      </ion-col>
    </ion-row> -->
    <ion-row style="padding: 10px">
      <ion-col class="kd_flex">
        <div class="first_letter_styles">
          <ion-text style="font-weight: bold">{{listing?.makerData?.userName?.charAt(0) }}</ion-text>
        </div>
        <ion-text style="padding-left: 10px;"><span style="font-weight: bold">Maker</span>
          <br />
          <span class="kd_font_size_14">{{listing.makerData.userName}}</span> <br />
          <span class="kd_font_size_14">{{listing.makerData.address}}</span></ion-text>
      </ion-col>
      <ion-col class="kd_flex kd_end_align">
        <div>
          <!-- <ion-text>{{listing.label}}</ion-text> <br> -->
          <ion-text style="font-weight: bold">Order Ends on</ion-text>
          <div class="kd_flex" style="padding-top: 5px">
            <ion-icon class="icon_style" style="height: 20px; width: 20px" name="calendar-outline"></ion-icon>
            <ion-text style="font-size: 14px !important">{{listing.orderEndsOn | date:'dd MMMM EEE hh:mm a'}}</ion-text>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div style="height: 100px;"></div>
</ion-content>
<ion-footer style="bottom: 0px; position: absolute" *ngIf="showMenu">
  <ion-card style="margin: 0px; border-radius: 0px; padding: 10px">
    <ion-row>
      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent" (click)="goToOrders()">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="bag-handle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Orders</ion-text>
      </ion-col>

      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="list-circle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Listings</ion-text>
      </ion-col>

      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent" (click)="goToProfile()">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="person-circle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Profile</ion-text>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-footer>