ion-toggle::part(track) {
    height: 25px;
    width: 45px;
}

ion-toggle {
    --handle-height: 21px;
    --handle-width: 21px;
    --handle-spacing: 2px;
    --handle-background: white;
    --track-background: #22242880;
    --ion-color-base: white !important;
    --border-radius: 40px;
}

ion-toggle.ios {
    --ion-color-base: #22242880 !important;
}

.profile-photo{
    height: 60px;
    max-width: 60px;
    margin: 10px;
}

.pad-top5 {
    padding-top: 5px;
}

.card-outline {
    padding: 15px;
    border: solid 1px black;
    margin: 15px 5px;
    border-radius: 14px;
}