<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-row style="margin: 10px;">
      <ion-col size="2" style="display: flex; justify-content: start; align-items: center;" (click)="navigateBackToMakersList()">
        <ion-icon name="arrow-back-outline" class="kd_back_button"></ion-icon>
      </ion-col>
      <ion-col size="5" style="display: flex; align-items: center;" (click)="naviageteToProfilePage()">
        <ion-icon name="add-circle-outline" class="kd_svg_size" style="padding-right: 5px;"></ion-icon>
        <ion-text class="header-text" style="font-size: 16px !important;">New Maker</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-row>
          <ion-col class="text_center" style="margin-top: 0px; display: flex; align-items: center;">
            <ion-toggle aria-label="Dark toggle" color="dark" style="padding-right: 5px;" [(ngModel)]="isToggleChecked" (ionChange)="toggleChanged()"></ion-toggle> <br>
            <ion-text class="kd_font_size_12">Inactive Profile</ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="openKitchenImages(true)">Kitchen Images</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" (click)="OpenDocuments(true)">Documents</ion-button>
    </ion-col>
    <!-- <ion-col>
      <ion-icon name="pencil-outline" class="kd_svg_size"></ion-icon>
    </ion-col> -->
  </ion-row>

  <div style="padding: 15px; border: solid 1px black; margin: 15px 5px; border-radius: 14px;">
    <ion-row>
      <ion-col>
        <ion-text>Bank Name</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{userData?.bankDetails?.bankName}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Branch</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{userData?.bankDetails?.branch}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Account Number</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{userData?.bankDetails?.accountNumber}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Account Name</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{userData?.bankDetails?.accountName}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Account Type</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{userData?.bankDetails?.accountType}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>IFSC Code</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{userData?.bankDetails?.ifscCode}}</ion-text>
      </ion-col>
    </ion-row>
  </div>



  <ion-modal [isOpen]="isMakerImagesOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Kitchen Images Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="openKitchenImages(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isDocumentsOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Document Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="OpenDocuments(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
