<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-row style="margin: 10px;">
      <ion-col size="2" style="display: flex; justify-content: start; align-items: center;" (click)="navigateBackToMakersList()">
        <ion-icon name="arrow-back-outline" class="kd_back_button"></ion-icon>
      </ion-col>
      <ion-col size="5" style="display: flex; align-items: center;" (click)="naviageteToProfilePage()">
        <ion-icon name="add-circle-outline" class="kd_svg_size" style="padding-right: 5px;"></ion-icon>
        <ion-text class="header-text" style="font-size: 16px !important;">New Maker</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-row>
          <ion-col class="text_center" style="margin-top: 0px; display: flex; align-items: center;">
            <ion-toggle aria-label="Dark toggle" color="dark" style="padding-right: 5px;" [(ngModel)]="isToggleChecked" (ionChange)="toggleChanged()"></ion-toggle> <br>
            <ion-text class="kd_font_size_12">Inactive Profile</ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row class="kd_center_align_items">
    <ion-col>
      <ion-text>User ID: 1122</ion-text>
    </ion-col>
    <ion-col>
      <ion-text>Customer/Maker</ion-text>
    </ion-col>
    <ion-col class="kd_flex kd_end_align">
      <img src="../../../assets/edit-icon-24.png" alt="" class="kd_svg_size">
    </ion-col>
  </ion-row>

  <ion-row style="border-bottom: none !important; width: 100%;" class="kd_center_align">
    <div class="kd_round round_new kd_center_align profile-photo">
      <img *ngIf="userData?.iconId" [src]="userData?.iconId" alt="LOGO">
      <img *ngIf="!userData?.iconId" src="assets/defaultProfilePic.svg" alt="LOGO">
    </div>
    <ion-col style="margin: 15px 0px;">
      <ion-label>{{userData?.name}}</ion-label><br>
      <ion-label>kphb, Hyderabad</ion-label>
    </ion-col>
    <ion-col style="margin: 15px 0px;">
      <ion-label class="kd_main_heading">$ 4500</ion-label><br>
      <ion-label>Money Spent</ion-label>
    </ion-col>
  </ion-row>

  <div class="card-outline">
    <ion-row class="kd_margin_bott_10">
      <ion-col>
        <ion-text>Name</ion-text><br>
        <div class="pad-top5">
          <ion-text>Bhanu Prakash</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <ion-text>Email</ion-text><br>
        <div class="pad-top5">
          <ion-text>bhanuGmail.com</ion-text>
        </div>
      </ion-col>
    </ion-row>
  
    <ion-row class="kd_margin_bott_10">
      <ion-col>
        <ion-text>Mobile</ion-text><br>
        <div class="pad-top5">
          <ion-text>9875452165</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <ion-text>Location</ion-text><br>
        <div class="pad-top5">
          <ion-text>kphb, Hyderabad</ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="border-top: dashed; padding-top: 10px;">
      <ion-col>
        <ion-text class="kd_main_heading">02</ion-text><br>
        <div class="pad-top5">
          <ion-text>Listings</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <ion-text class="kd_main_heading">$ 1254</ion-text><br>
        <div class="pad-top5">
          <ion-text>Money Earned</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <ion-text class="kd_main_heading">$ 154</ion-text><br>
        <div class="pad-top5">
          <ion-text>%12</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="openKitchenImages(true)">Kitchen Images</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" (click)="OpenDocuments(true)">Documents</ion-button>
    </ion-col>
    <!-- <ion-col>
      <ion-icon name="pencil-outline" class="kd_svg_size"></ion-icon>
    </ion-col> -->
  </ion-row>

  <div class="card-outline">
    <div *ngFor="let detail of getBankDetails()">
      <ion-row>
        <ion-col>
          <ion-text>{{ detail.label }}</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>{{ detail.value }}</ion-text>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <ion-modal [isOpen]="isMakerImagesOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Kitchen Images Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="openKitchenImages(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isDocumentsOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Document Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="OpenDocuments(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
