<ion-header [translucent]="true" style="box-shadow: none; padding: 10px">
  <ion-row>
    <ion-col style="text-align: left;" class="kd_col_center_align">
      <ion-icon class="kd_svg_size" style="padding-right: 10px;" name="person-circle-outline"></ion-icon>
      <ion-label class="kd_main_heading">Sign In</ion-label>
    </ion-col>

    <ion-col style="text-align: right;">
      <ion-icon class="kd_svg_size" name="close-circle-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row style="border-bottom: none !important; width: 100%;" class="kd_center_align">
    <div class="kd_round round_new kd_center_align">
      <img *ngIf="userData?.iconId" [src]="userData?.iconId" alt="LOGO">
      <img *ngIf="!userData?.iconId" src="assets/defaultProfilePic.svg" alt="LOGO">
    </div>
    <ion-col style="margin: 30px 0px;">
      <ion-label>{{userData.userName}}</ion-label><br>
      <ion-label>
        {{userData.address}}
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="margin: 15px;">
      <ion-button>Logout</ion-button>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 50px;">
    <ion-col class="kd_flex kd_flex_row_center" (click)="navigateToAllUsers()">
      <ion-text class="bold_text">{{userCount}} Users</ion-text>
      <img src="../../assets/right_arrow.png" alt="" class="arrow_icon">
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 15px;">
    <ion-col class="kd_flex kd_flex_row_center">
      <ion-text class="bold_text">{{ordersCount}} Orders</ion-text>
      <img src="../../assets/right_arrow.png" alt="" class="arrow_icon">
    </ion-col>
  </ion-row>

  <ion-row style="position: absolute; bottom: 8%; left: 0; margin: 15px;">
    <ion-col>
      <ion-text class="bold_text">About Us</ion-text> <br><br>
      <ion-text class="bold_text">Kickday</ion-text> <br><br>
      <ion-text class="bold_text">People Supported</ion-text> <br><br>
      <ion-text class="bold_text">T&C</ion-text>
    </ion-col>
  </ion-row>
</ion-content>