<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-row style="margin: 10px;">
      <ion-col size="2" style="display: flex; justify-content: start; align-items: center;" (click)="navigateToListings()">
        <ion-icon name="arrow-back-outline" class="kd_back_button"></ion-icon>
      </ion-col>
      <ion-col size="8" class="kd_flex kd_flex_row_center" style="justify-content: space-evenly;">
        <div>
          <ion-text>Listing ID</ion-text> <br>
          <ion-text>452123</ion-text>
        </div>

        <ion-text style="margin-left: 15px;">Active</ion-text>
      </ion-col>
      <ion-col size="2" class="kd_flex kd_end_align">
        <ion-icon name="trash-outline" class="kd_back_button" (click)="deleteListing()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin: 15px;">
    <ion-row>
      <ion-col class="text_center" style="margin-top: 0px; display: flex; align-items: center;">
        <ion-text class="kd_font_size_12" style="margin-right: 10px;">Inactive Profile</ion-text>
        <ion-toggle aria-label="Dark toggle" color="dark" style="padding-right: 5px;"></ion-toggle>
      </ion-col>
  
      <ion-col class="text_center" style="margin-top: 0px; display: flex; align-items: center;">
        <ion-text class="kd_font_size_12" style="margin-right: 10px;" (click)="editListing()">Edit Listing</ion-text>
        <ion-icon name="alert-circle-outline" class="kd_back_button"></ion-icon>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col style="margin: 10px 0px;">
        <ion-text style="font-weight: bold;">{{listingData.label}}</ion-text>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-text style="font-size: 14px; font-weight: bold;">Order will end on</ion-text>
      </ion-col>
  
      <ion-col class="ion-no-padding">
        <ion-text style="font-size: 14px; font-weight: bold;">Order will delivered on</ion-text>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col class="kd_flex">
        <ion-icon class="icon_style" style="height: 30px; width: 30px;" name="calendar-outline"></ion-icon>
        <div class="kd_flex" style="padding-top: 5px;">
          <ion-text>{{listingData.endDateTime | date:'d MMMM EEE h:mm a'}}</ion-text>
        </div>
      </ion-col>
  
      <ion-col class="kd_flex">
        <ion-icon class="icon_style" style="height: 30px; width: 30px;" name="calendar-outline"></ion-icon>
        <div class="kd_flex" style="padding-top: 5px;">
          <ion-text>{{listingData.startDateTime | date:'d MMMM EEE h:mm a'}}</ion-text>
        </div>
      </ion-col>
    </ion-row>
  
    <ion-row style="margin-top: 10px;">
      <ion-col size="2.5">
        <ion-text>Amount</ion-text>
      </ion-col>
      <ion-col size="7" class="kd_center_align">
        <ion-text><span style="padding-right: 10px;">$ 320</span> - <span style="padding-left: 10px;padding-right: 10px;">$112(12%)</span> =</ion-text>
      </ion-col>
      <ion-col size="2.5">
        <ion-text>$ 3088</ion-text>
      </ion-col>
    </ion-row>
  </div>

  <ion-toolbar class="toolbar_styles">
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="All">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="orderTaken">
        <ion-label>Order Taken</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dispached">
        <ion-label>Dispached</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pickupDelivered">
        <ion-label>Pickup Delivered</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cancelled">
        <ion-label>Cancelled</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div style="margin: 15px;"  *ngFor="let order of listingData.listingOrders; index as i">
    <ion-card class="kd_orders_card" (click)="navigateToOrderOverview()">
      <ion-row>
        <ion-col size="6">
          <ion-text>Order 1235242</ion-text><br>
          <ion-text>Received on 22 may 2:30pm</ion-text>
        </ion-col>
  
        <ion-col size="4">
          <ion-text>$ 365</ion-text> <br>
          <ion-text>Pay through wallet</ion-text>
        </ion-col>
  
        <ion-col size="2" class="kd_flex kd_end_align">
          <ion-icon class="icon_style" style="height: 32px; width: 32px; padding-right: 0px;" name="arrow-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col class="kd_center_align_items">
          <ion-icon name="home-outline" class="kd_back_button"></ion-icon>
          <ion-text style="padding-left: 10px;">Neighborhood (Pickup)</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>Order Taken</ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
