/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.kd_col_center_align {
    display: flex;
    align-items: center;
}

.kd_svg_size {
    height: 40px;
    width: 40px;
}

.kd_back_button {
    height: 25px;
    width: 25px;
}

.kd_main_heading {
    font-size: 20px !important;
    color: black;
    font-weight: bold;
}

.searchbar-custom .searchbar-clear-icon {
    display: none;
}

.kd_transperent_header {
    --background: white;
    --border-width: 0px !important;
}

ion-button {
    --background: #ce9a79;
    --background-activated: #946142;
    --color: White;
    --border-radius: 5px;
    --border-color: black;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0 2px 3px 0 rgb(0, 0, 0, 0.25);
    --padding-top: 10px;
    --padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    min-height: 48px;
    margin-right: 10px;
    text-transform: none;
    width: 100%;
}

.count_button {
    --background: #ededed;
    --color: black;
    --padding-bottom: 0px;
    --padding-top: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    height: 27px;
    width: 90px;
    margin: 0px;
    min-height: auto;
    --border-radius: 6px;
    --border-color: transparent;
}

.kd_save_button {
    font-size: 16px;
    --background: burlywood;
    margin-bottom: 20px;
    width: 100%
}

ion-text {
    color: black;
    font-size: 16px !important;
}

.kd_flex {
    display: flex;
}

.kd_flex_row_center {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kd_flex_col_center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kd_end_align {
    flex-direction: row;
    justify-content: end;
}

.kd_center_align_items {
    display: flex;
    align-items: center;
}

.icon_style {
    height: 18px;
    width: 18px;
    padding-right: 10px;
}

.kd_no_padding {
    padding: 0px !important;
}

ion-item {
    --padding-start: 0px;
    --border-style: none;
}

.kd_margin_bott_10 {
    margin-bottom: 10px;
}

.searchbar-input.sc-ion-searchbar-md {
    padding-inline: 10px !important;
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
    padding-inline-start: 0px !important;
    background: white;
}

.search_item {
    height: 50px;
    border: 1px solid;
    border-radius: 14px;
    margin: 10px 0px;
    padding: 0;
    display: flex;
}

ion-textarea.custom {
    --color: black;
    --padding-end: 10px;
    --padding-start: 10px;
    --placeholder-color: black;
    --border-width: 1px;
    --border-radius: 9px;
    border: solid 1px black;
    border-radius: 14px;
    padding: 10px 0px;
}

.native-textarea.sc-ion-textarea-md {
    --padding-bottom: 10px !important;
    --padding-top: 5px !important;
}

.sc-ion-textarea-md-h {
    --highlight-color: none;
}

.kd_footer_card_styles {
    margin: 0px;
    border-radius: 0px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 10px 15px;
    box-shadow: none;
}

.kd_round {
    max-width: 125px;
    height: 125px;
    width: 100%;
    background-color: rgb(50, 50, 50, 0.6);
    border-radius: 50%;
    line-height: 1.21;
    color: white;
    font-size: 34px;
    margin: 20px;
    float: left;
}

.kd_center_align {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kd_font_size_12 {
    font-size: 12px;
}

.kd_font_size_14 {
    font-size: 14px;
}

.kd_bold_font {
    font-weight: bold;
}

ion-input {
    --highlight-color-focused: none !important;
}

.first_letter_styles {
    height: 40px;
    width: 40px;
    background: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.select-text {
    display: none !important;
}

//footer styles

.icon-text_styles {
    font-size: 12px;
    padding-top: 5px;
}

.ripple_background {
    color: #b58ff1;
    border-radius: 18px
}

.footer_icon_styles {
    height: 40px;
    width: 40px;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    width: 100%;
    height: 100%;
}

swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.alert-button-group.sc-ion-alert-md {
    justify-content: space-between !important;
}

.alert-wrapper.sc-ion-alert-md {
    min-width: 310px !important;
}

.selected-item {
    color: blue;
}

.search-results {
    position: absolute;
    z-index: 1000;
    width: max-content;
    min-width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    max-height: 150px;
    overflow-y: auto;
    padding: 0px 10px;
}

.custom-alert .alert-input {
    border: solid 1px black;
    border-radius: 14px;
    min-height: 48px;
    box-shadow: none;
    margin-top: 8px;
    padding-left: 10px;
}

.searchbar-search-icon.sc-ion-searchbar-md {
    display: none !important;
}

.searchbar-custom {
    --background: #f5f5f5;
    --placeholder-color: #999;
    --border-color: #ccc;
    --border-radius: 7px;
    --box-shadow: none;
    --color: #333;
}

.searchbar-custom ion-input {
    padding: 8px;
}

.ion-valid.sc-ion-input-md-h {
    --highlight-color: none !important;
}

.ion-touched.ion-invalid.sc-ion-input-md-h {
    --highlight-color: none !important;
    --border-color: none !important;
}

.item-inner {
    padding-right: 0px !important;
}

.custom-input {
    height: 100px;
    border-radius: 10px;
    border: 1px solid #ccc !important;
    padding: 5px !important;
}

.custom-input textarea {
    padding: 10px 4px;
}

.delete-alert .delete-header {
    color: red !important;
    font-weight: bold;
}

.cursor_pointer {
    cursor: pointer;
}

ion-toggle::part(track) {
    height: 32px;
    width: 60px;
}

ion-toggle {
    --handle-height: 27px;
    --handle-width: 27px;
    --handle-spacing: 2px;
    --handle-background: white;
    --track-background: #ce9a79;
    --ion-color-base: white !important;
    --border-radius: 40px;
}

ion-toggle.ios {
    --ion-color-base: #ce9a79 !important;
}

.kd_orders_card {
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(206, 154, 121, 0.6);
    border: none !important;
}

.kd_orders_card:hover {
    transform: scale(1.02);
}

.kd_orders_card ion-text {
    font-size: 14px;
    color: #333;
}

.kd_header_title_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0px 15px;
}

.cancel_icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    height: 24px;
    width: 24px;
}