<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-row style="padding: 5px 10px 0px 10px;">
      <ion-col class="kd_center_align_items">
        <ion-icon name="bag-handle-outline" class="kd_svg_size"></ion-icon>
        <ion-text style="padding-left: 10px; font-size: 18px;">Orders</ion-text>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <div style="margin: 15px;" *ngFor="let maker of listings;">
      <ion-card class="kd_orders_card" (click)="navigateToListingOverview(maker._id)">

        <ion-row>
          <ion-col>
            <ion-text>Created on 23 May Thursday 3:00PM</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text>Listing ID</ion-text>
          </ion-col>

          <ion-col>
            <ion-text>1123</ion-text>
          </ion-col>

          <ion-col>
            <ion-text>Active</ion-text>
          </ion-col>

          <ion-col>
            <ion-text>3 Orders</ion-text>
          </ion-col>
        </ion-row>

        <ion-row style="margin-bottom: 10px;">
          <ion-col size="10">
            <ion-text style="font-weight: bold;">Mutton Biryani with paya preparation on weekend do not miss
              it.</ion-text>
          </ion-col>

          <ion-col size="2" class="kd_flex kd_end_align">
            <ion-icon class="icon_style" style="height: 32px; width: 32px; padding-right: 0px;"
              name="arrow-forward-circle-outline"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-text style="font-size: 14px; font-weight: bold;">Order will end on</ion-text>
          </ion-col>

          <ion-col class="ion-no-padding">
            <ion-text style="font-size: 14px; font-weight: bold;">Order will delivered on</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="kd_flex">
            <ion-icon class="icon_style" style="height: 30px; width: 30px;" name="calendar-outline"></ion-icon>
            <div class="kd_flex" style="padding-top: 5px;">
              <ion-text>24 June Friday 3:30PM</ion-text>
            </div>
          </ion-col>

          <ion-col class="kd_flex">
            <ion-icon class="icon_style" style="height: 30px; width: 30px;" name="calendar-outline"></ion-icon>
            <div class="kd_flex" style="padding-top: 5px;">
              <ion-text>24 June Friday 3:30PM</ion-text>
            </div>
          </ion-col>
        </ion-row>

      </ion-card>
    </div>
  </ion-content>
</ion-content>

<ion-footer style="bottom: 0px; position: absolute;">
  <ion-card style="margin: 0px; border-radius: 0px; padding: 10px;">
    <ion-row>
      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="bag-handle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Orders</ion-text>
      </ion-col>

      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent" (click)="navigateToCreateListing()">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="add-circle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Create Listing</ion-text>
      </ion-col>

      <ion-col class="kd_flex kd_flex_col_center ion-activatable ripple-parent" (click)="navigateToDashboard()">
        <ion-ripple-effect class="ripple_background"></ion-ripple-effect>
        <ion-icon name="person-circle-outline" class="footer_icon_styles"></ion-icon>
        <ion-text class="icon-text_styles">Profile</ion-text>
      </ion-col>

    </ion-row>
  </ion-card>
</ion-footer>