.selected-fruit {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 15px;
}

.margin_top_15 {
    margin-top: 15px;
}

.selected {
    --background: #FF474C;
}