<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-row style="margin: 10px;">
      <ion-col size="2">

      </ion-col>
      <ion-col class="kd_flex kd_flex_row_center" size="8">
        <ion-text class="kd_main_heading">Search</ion-text>
      </ion-col>
      <ion-col class="kd_flex kd_end_align" size="2" (click)="closePopup()">
        <ion-icon name="close-circle-outline" class="kd_svg_size"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin: 15px;">
    <ion-row>
      <ion-col>
        <div style="position: relative;">
          <ion-item class="search_item" lines="none" style="margin: 0px; height: 62px;">
            <ion-label style="display: contents;">
              <ion-icon name="location-outline" class="icon_style" style="padding-left: 10px;"></ion-icon>
            </ion-label>
            <ion-searchbar placeholder="Enter Your location*"
              style="width: 91%; height: 100%; --box-shadow: 0; padding: 0px" search-icon="false" [(ngModel)]="search" ></ion-searchbar>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="margin_top_15">
      <ion-col>
        <ion-text class="kd_main_heading">Order Delivery</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="selectOption('Available Today')" [class.selected]="selectedOption === 'Available Today'">Available Today</ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="selectOption('Available Tomorrow')" [class.selected]="selectedOption === 'Available Tomorrow'">Available Tomorrow</ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="selectOption('This Week')" [class.selected]="selectedOption === 'This Week'">This Week</ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="selectOption('This Month')" [class.selected]="selectedOption === 'This Month'">This Month</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="margin_top_15">
      <ion-col>
        <ion-text class="kd_main_heading">Choose Delivery Type</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="selectDeliveryType('Pickup Available')" [class.selected]="selectedDeliveryType === 'Pickup Available'">Pickup</ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="selectDeliveryType('Town/City 20KM')" [class.selected]="selectedDeliveryType === 'Town/City 20KM'">Town/City</ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="selectDeliveryType('Neighbourhood 5KM')" [class.selected]="selectedDeliveryType === 'Neighbourhood 5KM'">Neighbourhood</ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="selectDeliveryType('PAN India above 20KM')" [class.selected]="selectedDeliveryType === 'PAN India above 20KM'">PAN India</ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 20px;">
      <ion-col>
        <ion-button style="--background: antiquewhite;" (click)="closePopup()">SEARCH</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>