<div>
  <ion-row>
    <ion-col>
      <img src="../../assets/sample_food_img.webp" alt="">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text style="font-size: 18px; font-weight: bold;">Profile type</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="kd_margin_bott_10">
      <ion-item style="border: solid 1px black; border-radius: 14px; padding-left: 10px;">
        <ion-select
          label="Select profile type"
          aria-label="Profile type"
          [(ngModel)]="profileType"
          style="min-height: 48px;">
            <ion-select-option value="Admin">Admin</ion-select-option>
            <ion-select-option value="Maker">Maker</ion-select-option>
            <ion-select-option value="Customer">Customer</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text style="font-size: 18px; font-weight: bold;">Mobile Number</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="kd_margin_bott_10">
      <ion-input class="input_selection" style="margin-top: 0px;" placeholder="Enter Mobile"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text style="font-size: 18px; font-weight: bold;">Pin Setup</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="kd_margin_bott_10">
      <ion-input class="input_selection" style="margin-top: 0px;" placeholder="Enter Pin"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="profileType === 'Customer'">
    <ion-col class="kd_margin_bott_10">
      <ion-input class="input_selection" style="margin-top: 0px;" placeholder="Confirm Pin" *ngIf="showConfirmPin"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button (click)="login()">Login</ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="profileType === 'Customer'">
    <ion-col class="kd_center_align">
      <ion-text style="font-size: 20px !important; font-weight: bold; color: blue;" *ngIf="profileType === 'Customer'" (click)="createAccount()">Create Account</ion-text>
    </ion-col>
  </ion-row>
</div>