<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-row style="margin: 10px;">
      <ion-col size="4" style="display: flex; justify-content: start; align-items: center;"
        (click)="goToBack()">
        <ion-icon name="arrow-back-outline" class="kd_back_button"></ion-icon>
      </ion-col>
      <ion-col style="text-align: left;" class="kd_col_center_align">
        <ion-icon name="bag-handle-outline" class="kd_svg_size"></ion-icon>
        <ion-text style="padding-left: 10px; font-size: 18px;">Orders</ion-text>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listingOverView</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
