ion-toggle::part(track) {
    height: 25px;
    width: 45px;
}

ion-toggle {
    --handle-height: 21px;
    --handle-width: 21px;
    --handle-spacing: 2px;
    --handle-background: white;
    --track-background: #22242880;
    --ion-color-base: white !important;
    --border-radius: 40px;
}

ion-toggle.ios {
    --ion-color-base: #22242880 !important;
}

ion-segment-button {
    --color-checked: #61399f;
    text-transform: none;
    font-size: 12px;
    --padding-start: 0px;
    --padding-end: 0px;
    min-width: min-content;
}

.toolbar_styles {
    padding: 0px;
    --background: white;
    box-shadow: none;
    background-color: #dfd9f1;
    --box-shadow: none;
    margin-top: 20px;
}

.kd_orders_card {
    margin: 15px 0px 20px 0px !important;
    padding: 10px;
}