<ion-header [translucent]="true" style="box-shadow: none;">
  <ion-toolbar>
    <ion-row style="margin: 10px;">
      <ion-col size="2" style="display: flex; justify-content: start; align-items: center;" (click)="goToBack()">
        <ion-icon name="arrow-back-outline" class="kd_back_button"></ion-icon>
      </ion-col>
      <ion-col size="8" class="kd_center_align_items">
        <div>
          <ion-text class="kd_bold_font">Listing ID: {{listingData.ID}}</ion-text>
        </div>

        <!-- <ion-text style="margin-left: 15px;">Active</ion-text> -->
      </ion-col>
      <ion-col size="2" class="kd_flex kd_end_align" *ngIf="userData.role != 'admin'">
        <ion-icon name="trash-outline" style="color:red" class="kd_back_button" (click)="deleteListing()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin: 15px;">
    <ion-row>
      <ion-col class="text_center" style="margin-top: 0px; display: flex; align-items: center;">
        <ion-text class="kd_font_size_12" style="margin-right: 10px;"> inactive listing</ion-text>
        <ion-toggle aria-label="Dark toggle" color="dark" style="padding-right: 5px;" [(ngModel)]="isToggleChecked"
          (ionChange)="toggleChanged()"></ion-toggle>
      </ion-col>

      <ion-col class="text_center" style="margin-top: 0px; display: flex; align-items: center;" (click)="editListing()">
        <img src="../../../assets/edit-text.png" alt="" class="kd_back_button">
        <ion-text class="kd_font_size_12" style="margin-left: 10px;">Edit Listing</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin: 10px 0px;">
        <ion-text style="font-weight: bold;">{{listingData.label}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-text style="font-size: 14px; font-weight: bold;">Order will end on</ion-text>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-text style="font-size: 14px; font-weight: bold;">Order will delivered on</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="kd_flex">
        <ion-icon class="icon_style" style="height: 30px; width: 30px;" name="calendar-outline"></ion-icon>
        <div class="kd_flex" style="padding-top: 5px;">
          <ion-text>{{listingData.orderEndsOn | date:'dd MMMM EEE hh:mm a'}}</ion-text>
        </div>
      </ion-col>

      <ion-col class="kd_flex">
        <ion-icon class="icon_style" style="height: 30px; width: 30px;" name="calendar-outline"></ion-icon>
        <div class="kd_flex" style="padding-top: 5px;">
          <ion-text>{{listingData.orderDeliveredOn | date:'dd MMMM EEE'}}</ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px;">
      <ion-col size="2.5">
        <ion-text>Amount</ion-text>
      </ion-col>
      <ion-col size="7" class="kd_center_align">
        <ion-text><span style="padding-right: 10px;">&#8377; 0</span> - <span
            style="padding-left: 10px;padding-right: 10px;">&#8377; 0({{listingData?.makerData?.commission ||
            0}}%)</span> =</ion-text>
      </ion-col>
      <ion-col size="2.5">
        <ion-text>&#8377; 0</ion-text>
      </ion-col>
    </ion-row>
  </div>

  <ion-toolbar class="toolbar_styles">
    <ion-segment [(ngModel)]="selectedSegment" mode="md">
      <ion-segment-button value="All">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="orderTaken">
        <ion-label>Confirmed</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dispached">
        <ion-label>Dispached</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pickupDelivered">
        <ion-label>Delivered</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cancelled">
        <ion-label>Cancelled</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div style="margin: 15px;">
    <ion-card class="kd_orders_card" *ngFor="let order of listingData?.customerOrders"
      (click)="openOrderDetails(order)">
      <ion-row>
        <ion-col size="8">
          <ion-text class="kd_bold_font">Order {{order.ID}}</ion-text><br>
          <ion-text>Received on {{ formatTimestamp(order.timeStamp) }}</ion-text>
        </ion-col>

        <ion-col size="2.5">
          <ion-text class="kd_bold_font">&#8377; {{order.finalPrice}}</ion-text> <br>
          <!-- <ion-text>Pay through wallet</ion-text> -->
        </ion-col>

        <ion-col size="1.5" class="kd_flex kd_end_align">
          <ion-icon class="icon_style" style="height: 32px; width: 32px; padding-right: 0px;"
            name="arrow-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="kd_center_align_items" size="8">
          <ion-icon name="home-outline" class="kd_back_button"></ion-icon>
          <ion-text style="padding-left: 10px;">{{order.deliveryOption.type}}</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-text>{{order.status}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>